:root {
  font-family: ui-sans-serif, system-ui, sans-serif;
  --primary: hsl(270, 100%, 50%);
  --white: #fff;
  --black: #000;
  --darker: color-mix(in oklab, var(--primary), var(--black, #000) 15%);
  --lighter: color-mix(in oklab, var(--primary), var(--white, #fff) 20%);
}

.main-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.steps-wrapper {
  max-width: 1200px;
  width: 100%;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 80px 0;
  gap: 50px; /* Adds spacing between the steps */
}

.step {
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid rgb(222, 222, 222);
  border-radius: 50%;
  background: var(--white);
  font-size: 24px;
  font-weight: 700;
  color: rgb(135, 135, 135);
  text-align: center;
  padding: 25px;
  transition: 200ms ease;
  line-height: 1.4;
  flex-shrink: 0; /* Prevents steps from resizing */
}

.step.active {
  color: var(--white);
  background: var(--primary);
  border-color: var(--primary);
}

.progress-bar {
  position: absolute;
  width: calc(100% - 200px); /* Extend the progress bar considering step spacing */
  height: 10px;
  background: rgb(222, 222, 222);
  top: 50%;
  left: 80px; /* Align properly with the steps */
  z-index: -1;
  transform: translateY(-50%);
}

.progress {
  position: absolute;
  height: 100%;
  background: var(--primary);
  transition: 300ms ease;
  width: 0;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 15px 30px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background: var(--primary);
  color: var(--white);
  cursor: pointer;
  transition: 200ms linear;
}

.btn:disabled {
  background: var(--lighter);
  cursor: not-allowed;
}


.no-orders-message {
  text-align: center;
  font-size: 1.8rem;
  color: #555;
  display: none;
}

.order-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--darker);
  margin-top: -30px;
  text-align: left;
}